body{
    background-color: rgb(246, 246, 246);
    margin : 0;
}   

.container{
     
    display: flex;  
   

}
header{
    background-color: rgb(255, 255, 255); 
    top: 0;
    color: rgb(3, 3, 3);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vw;
    width: 100vw;
    border-bottom: 2px solid red;
    padding-bottom: 0.5vh;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra */

    
}
.itensMenu{
    margin-top: 7vh;
    margin-left: 60px;
    text-decoration: none;
    color: black;

}
#imgLogo{
   
    height: 100px;
    width: 100px;
    margin-left: 20px;
}

.containerUm{
    margin-top: 50px;
    display: flex;
}
.ImagemTextoUm{
    height: 500px;
    width: 500px;
    margin-left: 100px;
    margin-bottom: 40vh; 
}
.ImagemTextoUmSenai{
    margin-top: 10vh;
    height: 150px;
    width: 500px;
    margin-left: 90px;
    margin-bottom: 20vh; 
}

.textoUm{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 100px;
    height: 100px;
    width: 800px;
    font-size: 28px;
}
.containerDois{
    margin-top: 100px;
    height: 56vh;
    width: 100vw;
    background-color: rgb(249, 3, 3);
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
    padding-bottom: 40px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra */
}
#tituloContainer2{
    margin-top: 100px;
}
#qrCode{
    height: 200px;
    width: 200px;
}
#TextoContainerDois{
    color: rgb(233, 233, 233);
}
.containerTres{
    height: 50vh;
}
#containerFooter{
    padding-top: 5px;
    height: 100px;
    background-color: rgb(247, 50, 1);
    color: rgba(240, 248, 255, 0.674);
}
#textFooter{
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#txtFooter{
    
    margin-right: 100px;
    margin-left: 100px;
}
#btnUm{
    margin-left: 11vw;
    padding: 10px;
    width: 30vw;
    font-size: 20px;
    color: rgb(53, 52, 52);
    background-color: rgb(246, 246, 246);
    border: 2px solid red;
    transition: background-color 0.3s, color 0.3s;
}

#btnUm:hover{
    background-color: red;
    color: white; /* Muda a cor do texto quando o botão está em hover */
}
#textCentral{
    margin-left: 13%;
    margin-bottom: 40vh;
    margin-top: 10vh;
}
#titulo{
    margin-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
}
#titulo2{
    font-family: 'Dancing Script', cursive; /* Adiciona a fonte cursiva importada */
    margin-left: 30px;
    color: red;
    font-size: 80px;
}
